html, body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* .fontAwesomeFooterIcon {
    color: #040DAF ;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 2px #282828;
}

.externalLink {
    color: #040DAF ;
    font-size: 18px;
    margin: 1rem 1rem;
    text-decoration: none;
    text-shadow: 2px 2px #DDDDDD;
} */